@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../utils/breakpoints' as *;

.title {
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.1;

  @include laptop {
    font-size: 48px;
  }

  @include tablet {
    font-size: 40px;
  }

  @include mobile {
    font-size: 32px;
  }
}
